body {
  margin:0;	
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
	text-align: center;
	
}

a {
  color: #00B7FF;
}
.searchContainer{
	width:90%;
	margin-left:4%;
	margin-right:4%;
	top:40%;
	height:30px;
	text-align: center;
}
.searchContainer .searchBox{
	height:100%;
	width:100%;
	border:1px solid silver;
	padding:0px;
	margin:0px;	
	
}
.note{
	font-style: italic;
	font-size: 8pt;
	
}
.ResultContainer{
	width:90%;
	height:300px;
	margin-left:4%;
	margin-right:4%;
	margin-top:50px;
	
}